{% extends 'base.html' %}
{% comment %} extend base file for the common header {% endcomment %}
{% block main %}
<div style="padding: 20px; color:green">
    <h1>Welcome to <span style="color:red">Kredily Team</span> !</h1>
    <center><h3 style="color:blue">About Kredily</h3>
    <div style="color:white; width:500px; background-color:grey; padding:10px;">
    <p>Kredily is a Payroll and HR Software. It is a product of PeopleProsper Technology,
        a Bengaluru-based HRTech and FinTech company. The company was founded by
        Devendra Khandegar who is an alumnus of IIT-Kanpur and IIM-Lucknow in 2017.
        The company serves over 1000 companies and is growing at a rapid pace.</p>
    </div></center>
</div>

{% endblock %}